<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
      .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
      }

      .modal-wrapper {
        display: table-cell;
        vertical-align: top;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <!--- MODAL INSERIR -->
      <div v-if="mInserir">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" @click="mInserir=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Inserir Usuário</h4>
                  </div>
                  <div class="modal-body">
                    <label for="">Nome</label><br>
                    <input type="text" class="form-control" v-model="nome" placeholder="Nome">
                    <label for="">Login</label><br> 
                    <input type="text" class="form-control" v-model="login" placeholder="Login">
                    <label for="">Senha</label><br>
                    <input type="password" class="form-control" v-model="senha" placeholder="Senha">
                    <input type="button" class="form-control" @click="inserirUsuario" value="Inserir">
                    <input type="button" class="form-control btn btn-warning" @click="mInserir=false" value="Cancelar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <!--- MODAL EDITAR-->
      <div v-if="mEditar">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" @click="mEditar=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Editar Usuario</h4>
                  </div>
                  <div class="modal-body">
                    <label for="">Nome</label><br>
                    <input type="text" class="form-control" v-model="nomeEdt" placeholder="Nome">
                    <label for="">Login</label><br>
                    <input type="text" class="form-control" v-model="loginEdt" placeholder="Login">
                    <label for="">Senha</label><br>
                    <input type="text" class="form-control" v-model="senhaEdt" placeholder="Senha">
                    <input type="button" class="form-control" @click="editarUsuario" value="Salvar">
                    <input type="button" class="form-control btn btn-danger" @click="mEditar=false" value="Cancelar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

      <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

      <!--- MODAL EXCLUIR-->
      <div v-if="mExcluir">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" @click="mExcluir=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Atenção!</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h4><center>Deseja excluir o usuário <span>{{nomeUsuDel}}</span> ?</center></h4>
                      </div>
                      <div class="col-md-6">
                        <button class="form-control btn btn-success" @click="excluirUsuario">Sim</button>
                      </div>
                      <div class="col-md-6">
                        <button class="form-control btn btn-danger" @click="mExcluir=false">Não</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="lead-form">
              <h2 class="text-center">Usuários</h2>
              <hr />
              <div class="row">
                <div class="col-md-10">
                    <input type='text' v-model='termo' placeholder="Pesquisar" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <button class="form-control" @click="listaTudo"><i class="glyphicon glyphicon-refresh"></i></button>
                  </div>
                <div class="col-md-12">             
                  <button id="show-modal" @click="mInserir = true" class="form-control btn btn-default">Inserir</button><br>
                <b style="color: red">{{erro}}</b>
                <div class="form" style="overflow-y: scroll; height:300px;">
                  <table class="table mb-0" id="usersList">
                    <thead>
                      <tr>
                        
                        <th>#</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Senha</th>
                        <th>Ação</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in users">
                          <td>{{user.id}}</td>
                          <td>{{user.nome}}</td>
                          <td>{{user.login}}</td>
                          <td>{{user.senha}}</td>
                          <td><a @click="preparaDelUsuario(index, user.id, user.nome)">Excluir</a>&nbsp;&nbsp;<a @click="prepEditUsuario(index, user.id, user.nome, user.login, user.senha)">Editar</a></td>

                        </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                <!--<button id="show-modal" @click="mEditar = true">Editar</button>-->
            </div><!-- end of .lead-form -->
          </div> <!-- end of .col-md-6.col-md-offset-3 -->
        </div> <!-- end of .row -->
      </div> <!-- end of .container -->
      <!--<comp></comp>-->
    </div> <!-- end of #app -->
  </body>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        users: "",
        termo: '',
        mInserir: false,
        mEditar: false,
        mExcluir: false,
        nome: '',
        login: '',
        senha: '',
        nomeEdt: '',
        loginEdt: '',
        senhaEdt: '',
        idUsuEdt: '',
        erro: '',
        idUsuDel: 0,
        nomeUsuDel: '',
        indexUsuDel: 0
      },
      created(){
        this.listaTudo();
      },
      watch: {
        termo: function() {
          if (this.termo.length >= 0) {
            this.pesquisa()
          }
        }
      },
      methods: {
        listaTudo: function(){
          axios.post('controler.php', {acao: 'lista'})
          .then(function (retorno) {
             app.users = retorno.data;
             app.erro = '';
             app.termo = '';
          })
          .catch(function (error) {
             console.log(error);
          });
        },
        pesquisa: function(){
          if(app.termo != ''){
     
            axios.post('controler.php', {acao: 'lista', termo: app.termo})
            .then(function (retorno) {
              if (retorno.data != '') {
                app.users = retorno.data;
                app.erro = '';
              }else{
                app.users = '';
                app.erro = 'Nao foi encontrado usuário com o termo: '+app.termo;
              }
            })
            .catch(function (error) {
               console.log(error);
            });
          }
        },
        inserirUsuario: function(){
            axios.post('controler.php', {acao:'inserirUsuario', nome: app.nome, login: app.login, senha: app.senha})
                  .then(function(retorno){
                    if (retorno.data == 1) {
                      //LISTA TUDO
                      app.listaTudo();
                      app.mInserir = false;

                      //LIMPA CAMPOS
                      app.nome = '';
                      app.login = '';
                      app.senha = '';
                      app.termo = '';
                      app.erro = '';

                      toastr.success("Usuário "+app.nome+" inserido com sucesso!");
                    }else{
                      toastr.error("Erro ao inserir usuário!");
                    }
                  })
                  .catch(function(error){
                    console.log(error);
                  })
        },
        preparaDelUsuario: function(index, id, nome){
            app.mExcluir = true;
            app.nomeUsuDel = nome;
            app.indexUsuDel = index;
            app.idUsuDel = id;
        },
        excluirUsuario: function(){
          axios.post('controler.php', {acao: 'excluirUsuario', id: app.idUsuDel})
                .then(function(retorno){
                  if (retorno.data == 1) {
                    app.users.splice(app.indexUsuDel, 1);
                    app.mExcluir = false;
                    toastr.success("Usuário "+app.nomeUsuDel+" excluido com sucesso!");
                    app.nomeUsuDel = '';
                  }else{
                    toastr.success("Erro ao excluir usuário!");
                  }
                })
                .catch(function(error){
                  console.log(error);
                })
        },
        prepEditUsuario: function(index, id, nome, login, senha){
            //CARREGA DADOS NO MODAL
            app.nomeEdt = nome;
            app.loginEdt = login;
            app.senhaEdt = senha;
            app.idUsuEdt = id;

            //ABRE MODAL
            app.mEditar = true;
        },
        editarUsuario: function(){
          //ENVIA DADOS PARA O PHP
            axios.post('controler.php', {acao: 'editarUsuario', nome: app.nomeEdt, login: app.loginEdt, senha: app.senhaEdt, id: app.idUsuEdt})
                  .then(function(retorno){
                    if (retorno.data == 1) {
                      //ATUALIZA LISTA
                      app.listaTudo();

                      //FECHA MODAL
                      app.mEditar = false;

                      toastr.success("Usuário "+app.nomeEdt+" editado com sucesso!");
                      //LIMPA CAMPOS
                      app.nomeEdt = '';
                      app.loginEdt = '';
                      app.senhaEdt = '';
                      app.termo = '';
                      app.erro = '';
                    }
                  })
                  .catch(function(error){
                    console.log(error);
                  })
        }
      }
    })
  </script>
</html>
